<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon"
    href="https://www.ribeirao2030.com.br/wp-content/uploads/2021/11/11-CIDADES-E-COMUNIDADES-SUSTENTAVEIS@2x.png">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="button.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="conclusiones.css">
</head>

<body>
  <header class="Header__container">
    <div class="Header__left">
      <div class="Header__title">
        <img src="image.png">
      </div>
    </div>
    <button class="Header__burger" id="burgerBtn">
      <i class="fas fa-bars"></i>
    </button>
    <menu class="Header__menu">
      <li class="Header__menuItem"><a href="http://localhost:3000/">Home</a></li>
      <li class="Header__menuItem"><a href="http://localhost:3000/problemas">Problemas</li></a>
      <li class="Header__menuItem"><a href="http://localhost:3000/propuesta">Propuesta</li></a>
      <li class="Header__menuItem"><a href="http://localhost:3000/map">Mapa</li></a>
      <li class="Header__menuItem"><a href="http://localhost:3000/conclusiones">DataSets</li></a>
    </menu>
  </header>
  <main>
    <section>
      <h1>DataSets</h1>
      <p>Esta recopilación resulta especialmente útil porque permite integrar información diversa y relevante sobre
        aspectos clave como el consumo energético, la gestión de residuos, indicadores territoriales, y el mercado de la
        vivienda.
      </p>
      <p>Al disponer de estos datos, es posible realizar comparaciones entre municipios, identificar patrones y
        tendencias, así como detectar áreas que requieren atención o mejora para avanzar hacia ciudades y comunidades
        más sostenibles. De esta manera, la información recopilada se convierte en una herramienta fundamental para
        apoyar la toma de decisiones informadas y el diseño de políticas públicas orientadas a cumplir con los objetivos
        del desarrollo sostenible.</p>
    </section>
    <section class="section-datasets">
      <article>
        <h3>CONSUMO ENERGÍA POR MUNICIPIO</h3>
        <p>Este conjunto de datos muestra el consumo eléctrico total desglosado por sectores económicos (residencial,
          industrial, servicios, etc.) y por municipios.</p>
        <p>Este conjunto de datos muestra el consumo eléctrico total desglosado por sectores económicos (residencial,
          industrial, servicios, etc.) y por municipios.</p>
        <a
          href="https://analisi.transparenciacatalunya.cat/Energia/Consum-d-energia-el-ctrica-per-municipis-i-sectors/8idm-becu/data_preview">Enlace</a>
      </article>
      <article>
        <h3>ESTADÍSTICAS DE RESIDUOS POR MUNICIPIO</h3>
        <p>Los datos sobre la generación y gestión de residuos sólidos urbanos permiten evaluar cómo los municipios
          gestionan sus residuos, la cantidad generada y la proporción destinada a reciclaje o tratamiento</p>
        <p> Esto es clave para entender la sostenibilidad en la gestión de recursos y residuos, un factor crucial para
          reducir la contaminación y proteger la salud pública. Una adecuada gestión de residuos es esencial para
          ciudades limpias y saludables, aspecto que el ODS 11 promueve.</p>
        <a
          href="https://analisi.transparenciacatalunya.cat/Medi-Ambient/Estad-stiques-de-residus-municipals/69zu-w48s/data_preview">Enlace</a>
      </article>
      <article>
        <h3>INDICADORES TERRITORIALES</h3>
        <p>Este dataset incluye múltiples indicadores que reflejan características territoriales, sociales y económicas
          de cada municipio, como la densidad de población, la superficie urbanizada, el nivel de accesibilidad o la
          infraestructura disponible.</p>
        <p>Estos indicadores son vitales para planificar el desarrollo urbano sostenible, equilibrar el crecimiento
          poblacional, evitar la expansión descontrolada (urban sprawl) y mejorar la calidad de vida mediante un mejor
          acceso a servicios y equipamientos.</p>
        <a
          href="https://analisi.transparenciacatalunya.cat/Urbanisme-infraestructures/Indicadors-territorials-de-l-Observatori-del-Terri/b9cr-32i4/data_preview">Enlace</a>
      </article>
      <article>
        <h3>MUNICIPIOS DE CATALUÑA</h3>
        <p>La información geoespacial de los municipios proporciona los límites y localizaciones precisas, que son
          fundamentales para realizar análisis espaciales y geográficos.</p>
        <p>Esto permite cruzar la información de consumo energético, residuos, indicadores socioeconómicos y precios de
          alquiler con mapas, facilitando la visualización y comprensión de las desigualdades territoriales o áreas
          prioritarias para la intervención urbana sostenible.</p>
        <a
          href="https://analisi.transparenciacatalunya.cat/Urbanisme-infraestructures/Municipis-Catalunya-Geo/9aju-tpwc/about_data">Enlace</a>
      </article>
      <article>
        <h3>PRECIO ALQUILER POR MUNICIPIO</h3>
        <p>El dataset del precio medio de alquiler por municipio refleja la situación del mercado de la vivienda, que es un elemento clave en la planificación urbana sostenible.</p>
        <p>Un precio alto puede indicar problemas de accesibilidad y exclusión social, mientras que un mercado más equilibrado facilita la integración social y el derecho a una vivienda adecuada, aspectos centrales del ODS 11 para garantizar comunidades inclusivas y accesibles.</p>
        <a
          href="https://analisi.transparenciacatalunya.cat/Habitatge/Preu-mitj-del-lloguer-d-habitatges-per-municipi/qww9-bvhh/data_preview">Enlace</a>
      </article>
    </section>

  </main>
</body>

</html>