<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ODS11: Home</title>
  <link rel="icon"
    href="https://www.ribeirao2030.com.br/wp-content/uploads/2021/11/11-CIDADES-E-COMUNIDADES-SUSTENTAVEIS@2x.png">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="button.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <video autoplay muted loop id="myVideo">
    <source src="https://videos.pexels.com/video-files/2053856/2053856-uhd_2560_1440_30fps.mp4" type="video/mp4" />
  </video>
  <header class="Header__container">
    <div class="Header__left">
      <div class="Header__title">
        <img src="image.png">
      </div>
    </div>
    <button class="Header__burger" id="burgerBtn">
      <i class="fas fa-bars"></i>
    </button>
    <menu class="Header__menu">
      <li class="Header__menuItem"><a href="#">Home</a></li>
      <li class="Header__menuItem"><a href="problemas">Problemas</li></a>
      <li class="Header__menuItem"><a href="propuesta">Propuesta</li></a>
      <li class="Header__menuItem"><a href="map">Mapa</li></a>
      <li class="Header__menuItem"><a href="conclusiones">DataSets</li></a>
    </menu>
  </header>
  <main>
    <section class="Hero">
      <div class="Hero__content">
        <p class="Hero__title">Bienvenido al proyecto de sostenibilidad ODS11</p>

        <div class="container">
          <a href="section-ODS11-content">

            <div data-text="ODS11" class="glass">
              <i class="fa-solid fa-hotel" style="font-size: 48px;"></i>
            </div>
          </a>
          <a href="problemas">

            <div data-text="Problemas" class="glass">
              <i class="fa-solid fa-heart-circle-exclamation" style="font-size: 48px;"></i>
            </div>

          </a>
          <a href="propuesta">
            <div data-text="Propuesta" class="glass">
              <i class="fa-solid fa-face-smile" style="font-size: 48px;"></i>
            </div>
          </a>
          <a href="map">

            <div data-text="Mapa" class="glass">
              <i class="fa-solid fa-map" style="font-size: 48px;"></i>
            </div>

          </a>
          <a href="conclusiones">

            <div id="section-soluciones" data-text="DataSets" class="glass">
              <i class="fa-regular fa-thumbs-up" style="font-size: 48px;"></i>
            </div>

          </a>
        </div>
      </div>
    </section>
    <section id="section-ODS11-content" class="ods11-section">
      <div class="ods11-content">
        <div class="ods11-text">
          <h3>ODS 11: Ciudades y comunidades sostenibles</h3>
          <img src="ods11.png" alt="ODS 11 - Ciudades Sostenibles" class="ods11-image" />
          <h2>¿Qué es el ODS 11?</h2>
          <p>
            El Objetivo de Desarrollo Sostenible número 11, es uno de los 17 objetivos establecidos por las Naciones
            Unidas dentro de la Agenda 2030. Este objetivo se centra en uno de los mayores retos que enfrenta el mundo
            actualmente: cómo hacer que las ciudades y las comunidades sean más habitables, resilientes y sostenibles.
          </p>
          <h2>¿Por qué es importante el ODS 11?</h2>
          <p>
            Actualmente, más del 55% de la población mundial vive en áreas urbanas, y se espera que para el año 2050
            esta cifra aumente a casi el 70%. Este crecimiento urbano acelerado, y en muchos casos desordenado, genera
            numerosos desafíos sociales, económicos y ambientales. El ODS 11 busca transformar nuestras ciudades en
            lugares que garanticen calidad de vida para todas las personas, sin importar su origen, situación económica
            o género.
          </p>
          <h2>¿Qué significa que una ciudad sea inclusiva?</h2>
          <p>
            Uno de los pilares del ODS 11 es la inclusión. Esto implica garantizar el acceso universal a viviendas
            seguras, adecuadas y asequibles, así como a servicios básicos como agua potable, saneamiento, transporte
            público eficiente y atención sanitaria. También incluye reducir la segregación urbana y la desigualdad,
            promoviendo entornos donde todas las personas puedan desarrollarse con seguridad y dignidad.
          </p>
          <img src="carbono.png" alt="ODS 11 - Ciudades Sostenibles" class="ods11-image" />
          <h2>¿Qué papel juega la sostenibilidad ambiental en este objetivo?</h2>
          <p>
            La sostenibilidad ambiental es otro pilar clave. Las ciudades son responsables de más del 70% de las
            emisiones globales de gases de efecto invernadero, además de generar grandes cantidades de residuos y
            enfrentar problemas como la contaminación del aire y la pérdida de biodiversidad. El ODS 11 fomenta la
            planificación urbana sostenible que reduzca la huella ecológica mediante la promoción del transporte
            público, el uso de energías renovables, la gestión eficiente de los residuos y la creación de espacios
            verdes que contribuyan a mitigar el cambio climático y mejorar la salud pública.
          </p>
          <h2>¿Qué significa que una ciudad sea resiliente?</h2>
          <p>
            La resiliencia urbana se refiere a la capacidad de las ciudades para anticiparse, resistir y recuperarse de
            desastres naturales, que son cada vez más frecuentes debido al cambio climático. Para lograrlo, es necesario
            construir infraestructuras seguras, contar con sistemas de alerta temprana eficaces y fortalecer a las
            comunidades para que puedan actuar y adaptarse rápidamente en situaciones de crisis.
          </p>
          <h1>Indicadores</h1>
          <section class="indicadores">
            
            <article>
              <h2>Vivienda</h2>
              <p>Se refiere al acceso a viviendas adecuadas y asequibles. Esto quiere decir que mide cuánta gente vive
                en
                hogares
                que son seguros, cómodos y que no les cuestan demasiado dinero. También nos muestra si hay personas que
                viven en
                zonas con viviendas precarias, como asentamientos informales o barrios marginales.
              </p>
            </article>
            <article>
              <h2>Impacto ambiental urbano</h2>
              <p>Se centra en el impacto ambiental que generan las ciudades. Este indicador mide dos cosas principales:
                por
                un
                lado, cuánto de los residuos sólidos urbanos se recogen y gestionan correctamente; y por otro lado, la
                calidad
                del aire, especialmente la cantidad de partículas contaminantes que respiramos diariamente.
              </p>
            </article>


          </section>

        </div>
      </div>
    </section>
  </main>

  <script defer>
    const burger = document.getElementById('burgerBtn');
    const menu = document.querySelector('.Header__menu');

    // Togle al hacer clic
    burger.addEventListener('click', () => {
      menu.classList.toggle('open');
    });

    window.addEventListener('resize', () => {
      if (window.innerWidth > 700) {
        menu.classList.remove('open');
        menu.style.display = 'flex';
      } else {
        menu.style.display = '';
      }
    });
  </script>
</body>

</html>
