<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ODS11: Mapa</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
        <link rel="icon" href="https://www.ribeirao2030.com.br/wp-content/uploads/2021/11/11-CIDADES-E-COMUNIDADES-SUSTENTAVEIS@2x.png">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="button.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="map.css">
        <script src="/map.js" defer></script>
    </head>
    
    <body>
        <main>
            <header class="Header__container">
                <div class="Header__left">
                  <div class="Header__title">
                    <img src="image.png">
                  </div>
                </div>
                <button class="Header__burger" id="burgerBtn">
                  <i class="fas fa-bars"></i>
                </button>
                <menu class="Header__menu">
                  <li class="Header__menuItem"><a href="/">Home</a></li>
                  <li class="Header__menuItem"><a href="problemas">Problemas</li></a>
                  <li class="Header__menuItem"><a href="propuesta">Propuesta</li></a>
                  <li class="Header__menuItem"><a href="map">Mapa</li></a>
                  <li class="Header__menuItem"><a href="conclusiones">DataSets</li></a>
                </menu>
              </header>
              <h1>Mapa del reciclaje por municipios</h1>
            <div id="map"></div>
        </main>
        <script defer>
    const burger = document.getElementById('burgerBtn');
    const menu = document.querySelector('.Header__menu');

    // Togle al hacer clic
    burger.addEventListener('click', () => {
      menu.classList.toggle('open');
    });

    window.addEventListener('resize', () => {
      if (window.innerWidth > 700) {
        menu.classList.remove('open');
        menu.style.display = 'flex';
      } else {
        menu.style.display = '';
      }
    });
  </script>
    </body>
</html>
