<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ODS11: Problemas</title>
  <link rel="icon"
    href="https://www.ribeirao2030.com.br/wp-content/uploads/2021/11/11-CIDADES-E-COMUNIDADES-SUSTENTAVEIS@2x.png">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="button.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/script.js"></script>
</head>

<body>
  <header class="Header__container">
    <div class="Header__left">
      <div class="Header__title">
        <img src="image.png">
      </div>
    </div>
    <button class="Header__burger" id="burgerBtn">
      <i class="fas fa-bars"></i>
    </button>
    <menu class="Header__menu">
      <li class="Header__menuItem"><a href="/">Home</a></li>
      <li class="Header__menuItem"><a href="problemas">Problemas</li></a>
      <li class="Header__menuItem"><a href="propuesta">Propuesta</li></a>
      <li class="Header__menuItem"><a href="map">Mapa</li></a>
      <li class="Header__menuItem"><a href="conclusiones">DataSets</li></a>
    </menu>
  </header>
  <main>
    <section id="section-problemas-content" class="ods11-section">
      <div class="ods11-content">
        <div class="ods11-text">
          <h3>Problemas</h3>
          <div class="text-chart-wrapper">
            <div class="text-column">
              <h2>Crecimiento urbano desordenado y expansión del suelo urbanizable</h2>
              <p>
                Este gráfico de líneas refleja una tendencia sostenida de incremento en la construcción de viviendas
                sobre suelo urbanizable, que alcanza su punto más alto en 2022 con un crecimiento del 35%. Aunque el
                incremento en suelo no ordenado es menor, también ha ido en aumento, pasando del 5% en 2013 al 13% en
                2022.
              </p>
              <p>
                Este patrón evidencia un proceso de expansión urbana, que si no está adecuadamente planificado, puede
                conducir a fenómenos de urbanización dispersa o difusa. Esto tiene varias implicaciones negativas: se
                incrementa la necesidad de infraestructuras, se fragmentan los ecosistemas naturales y se aumenta la
                dependencia del transporte privado.
              </p>
              <p>
                En consecuencia, crecen las emisiones de gases de efecto
                invernadero, los costos de mantenimiento urbano y la dificultad de acceso equitativo a servicios básicos
                como agua, transporte, salud y educación.</p>
            </div>
            <div class="chart-column">
              <canvas id="lineChart"></canvas>
            </div>
          </div>
          <div class="text-chart-wrapper">
            <div class="text-column">
              <h2>Elevado consumo eléctrico en sectores no domésticos</h2>
              <p>
                Este gráfico de barras muestra una clara desigualdad entre municipios en cuanto a la recogida selectiva
                de residuos
                (kg/hab/año).
              <p>
                Mientras que municipios como Sagàs y Pedret i Marzà superan los 2.200 kg/hab/año, otros
                como Rubió, Pals y Forès apenas alcanzan cifras cercanas a los 1.200 kg/hab/año.

              </p>
              <p>
                Estas diferencias sugieren que no todos los municipios están contando con los mismos recursos,
                infraestructuras o estrategias de concienciación ciudadana. Esto pone en evidencia una falta de
                coordinación o apoyo técnico para fomentar prácticas de reciclaje eficaces y generalizadas. Una recogida
                selectiva desigual no solo afecta la eficiencia de la gestión de residuos, sino que también debilita los
                esfuerzos regionales hacia una economía circular y sostenible.
              </p>
            </div>
            <div class="chart-column">
              <canvas id="barChart"></canvas>
            </div>
          </div>
          <div class="text-chart-wrapper">
            <div class="text-column">
              <h2> Elevado consumo eléctrico en sectores no domésticos</h2>
              <p>
                Este gráfico de pastel muestra que el consumo eléctrico en Cataluña está dominado por el sector
                industrial (37%), seguido del sector de servicios (35.3%). El consumo doméstico representa
                un 25.3%, mientras que otros sectores como el primario, el transporte o la construcción tienen
                porcentajes muy bajos.
              </p>
              <p>

                Esta distribución refleja dos problemas principales:
              </p>
              <p>
                Por un lado, una alta dependencia energética de sectores económicos intensivos en consumo eléctrico, lo
                cual exige medidas urgentes de eficiencia energética e inversión en energías renovables para evitar un
                impacto ambiental negativo.
              </p>
              <p>
                Por otro lado, el bajo porcentaje del sector transporte (1.3%) sugiere que aún no se ha producido una
                electrificación significativa de los sistemas de movilidad. Esto puede indicar una persistencia del uso
                de vehículos de combustión, con sus consecuencias en términos de contaminación del aire, ruido y
                emisiones de CO₂ en entornos urbanos.</p>
            </div>
            <div class="chart-column">
              <canvas id="pieChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script defer>
    const burger = document.getElementById('burgerBtn');
    const menu = document.querySelector('.Header__menu');

    // Togle al hacer clic
    burger.addEventListener('click', () => {
      menu.classList.toggle('open');
    });

    window.addEventListener('resize', () => {
      if (window.innerWidth > 700) {
        menu.classList.remove('open');
        menu.style.display = 'flex';
      } else {
        menu.style.display = '';
      }
    });
  </script>
</body>

</html>
