.button {
    width: 220px;
    height: 321px;
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #f99d26;
    border: 2px solid #f99d26;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 88px;
    height: 120px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #f99d26;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px #f99d26;
  }
  
  .button:active {
    scale: 1;
  }
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;

  }
  
  .container .glass {
    position: relative;
    width: 180px;
    height: 200px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
  }
  
  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;  
  }
  
  .container .glass:hover{
    scale: 1.1;
    box-shadow: 0 0px 20px #f99d26;
  }
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .container .glass svg {
    font-size: 2.5em;
    fill: #fff;
  }

  .container .glass svg {
    font-size: 2.5em;
    fill: #fff;
  }
